# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# ======================
# Environnements virtuels
# ======================
env/
venv/
.venv/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/
*.ipynb

# ======================
# Données
# ======================
*.csv
*.xlsx
*.parquet
*.h5

# ======================
# Tests
# ======================
tests/
.pytest_cache/
.coverage
htmlcov/

# ======================
# IDE / éditeurs
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Secrets
# ======================
.env
.env.*
*.pem
*.key

# ======================
# Logs
# ======================
*.log
